.slider-container {
  position: relative;
}

.slider {
  display: flex;
  /* overflow: hidden; */
}

.slide {
}

.slide img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  background-color: white;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #0003;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev img,
.next img {
  filter: invert(60%);
}
.prev {
  left: 10px;
}

.next {
  right: 10px;
}
