.admin-main {
}
.search-div {
  margin: 40px 60px;
  width: 400px;
  background-color: white;
  height: 50px;
  display: flex;
}
.search-user {
  width: 400px;
  padding-left: 10px;
}

.search-div * {
  display: flex;
  align-items: center;
}

.search-user input {
  border: none;
  outline: none;
  width: 290px;
  padding: 0px 10px;
}

.search-user button {
  min-width: 80px;
  height: 48px;
  font-size: 14px;
  background-color: #1d76cc;
  border: none;
  display: flex;
  justify-content: center;
  color: white;
}

.all-users {
  padding-inline-start: 70px;
}
.all-users li {
  margin: 35px 0px;
  width: 800px;
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.btnAddAdmin {
  height: 35px;
  font-size: 14px;
  background-color: #4eba4e;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
}

.btnUndoAdmin {
  height: 35px;
  font-size: 14px;
  background-color: red;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
}

.back-next {
  display: flex;
  justify-content: center;
}

.back-next a {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 10px #0003;
  margin-right: 10px;
  background-color: #1e76cc;
}

.back-next span {
  display: flex;
  align-items: end;
  font-size: 30px;
  margin-left: -5px;
  margin-right: 10px;
}

.add-categories-main {
  margin-top: 20px;
  background-color: white;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  max-width: 50%;
  box-shadow: 0px 0px 40px #a9a9a9;
  padding: 20px;
}

.add-categories-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-categories-form select {
  width: 317px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #8b8b8b7d;
  border: none;
  margin: 15px;
  padding-left: 15px;
}

.category-name {
  width: 300px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #8b8b8b7d;
  border: none;
  margin: 15px;
  padding-left: 15px;
}

.img-add::file-selector-button  {
  margin-right: 20px;
  border: none;
  background: #efefef;
  padding: 10px 20px;
  border-radius: 10px;
  color: #8d8d8d;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  margin-left: 15px;
}

.add-categories-form button {
  margin: 15px;
  width: 317px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #1d76cc;
  box-shadow: 0px 0px 10px #6f6f6f7d;
  color: white;
}
