.trash-main {
  margin-left: 40px;
  margin-right: 20px;
}

.btn-trashEmpty {
  margin-bottom: 20px;
}

.btn-trashEmpty button {
  background-color: #e3e7f0;
  border: none;
  transition: all 0.5s;
  height: 35px;
  display: flex;
  align-items: center;
}

.btn-trashEmpty button:hover {
  background-color: #c2c7d2;
}

.btn-trashEmpty img {
  width: 20px;
  margin-right: 7px;
}

.all-products td,
.all-products th {
  border: 1px solid slategrey;
  text-align: center;
  overflow-wrap: anywhere;
}

.all-products-li-name {
  background-color: white;
  height: 50px;
  padding: 0px 30px;
}

.admin-products-into {
  width: 150px;
}

.into-basket-products {
  width: 100px;
  height: 40px;
  border: 1px solid #d8dee9;
  max-width: 132px;
  max-height: 40px;
  padding-inline: 8px;
  margin: 10px;
}

.into {
  position: relative;
}

.into p {
  position: absolute;
  margin-left: 72px;
  bottom: -3px;
}

.thing {
  position: absolute;
  margin: -42px 95px;
}
.clearance {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.clearance-goods {
  margin-top: 20px;
  width: 400px;
  background-color: white;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  padding: 20px;
}

.clearance-goods div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.clearance-goods div span {
  font-weight: 600;
  font-size: 18px;
}

.clearance-goods button {
  background-color: #fc3;
  width: 100%;
  height: 40px;
  border: #fc3;
  border-radius: 10px;
  transition: all 0.3s;
}

.clearance-goods button:hover {
  background-color: rgb(220, 175, 40);
}

.clearance-dilivery {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.clearance-column {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

.form-container {
  background-color: white;

  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.clearance form {
  display: flex;
  flex-direction: column;
}

.form-container input[type='text'],
.form-container input[type='submit'] {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.form-container input[type='submit'] {
  background-color: #5c67f2;
  color: white;
  cursor: pointer;
}

.form-container input[type='submit']:hover {
  background-color: #4a54e1;
}

.form-container label {
  margin-bottom: 5px;
  font-weight: bold;
}
