.admin-main {
  display: flex;
}

.side-bar {
  list-style: none;
  padding-right: 20px;
  background-color: #fff;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
  padding: 20px;
  margin: 30px;
  height: 100%;
}

.side-bar li {
  margin-bottom: 7px;
}

.side-bar li.active {
  background-color: #f0f0f0;
  font-weight: bold;
}

.side-bar a {
  text-decoration: none;
  color: #373737;
  font-size: 18px;
}

.administrator {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 20px;
}

.search-user-div {
  margin-bottom: 30px;
  width: 410px;
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.search-div {
  margin-bottom: 30px;
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
}

.search-user {
  width: 400px;
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.search-div * {
  display: flex;
  align-items: center;
}

.search-user input {
  border: none;
  outline: none;
  width: 290px;
  padding: 0px 10px;
}

.search-user button {
  min-width: 80px;
  height: 48px;
  font-size: 14px;
  background-color: #1d76cc;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.all-users {
  padding-inline-start: 0px;
}
.all-users li {
  width: 800px;
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}

.btnAddAdmin {
  height: 35px;
  font-size: 14px;
  background-color: #4eba4e;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
}

.btnUndoAdmin {
  height: 35px;
  font-size: 14px;
  background-color: red;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 5px;
}

.back-next {
  display: flex;
  justify-content: center;
}

.back-next a {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  box-shadow: 0px 0px 10px #0003;
  margin-right: 10px;
  background-color: #1e76cc;
}

.back-next span {
  display: flex;
  align-items: end;
  font-size: 30px;
  margin-left: -5px;
  margin-right: 10px;
}

.add-categories-main {
  display: flex;
}

.add-categories-div {
  background-color: white;
  box-sizing: border-box;
  margin: 30px;
  box-shadow: 0px 0px 40px #a9a9a9;
  padding: 20px;
}

.add-categories-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.add-categories-form select {
  width: 317px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #8b8b8b7d;
  border: none;
  margin: 15px;
  padding-left: 15px;
}

.category-name {
  width: 300px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #8b8b8b7d;
  border: none;
  margin: 15px;
  padding-left: 15px;
}

.img-add::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #efefef;
  padding: 10px 20px;
  border-radius: 10px;
  color: #8d8d8d;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  margin-left: 15px;
}

.add-categories-form button {
  margin: 15px;
  width: 317px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #1d76cc;
  box-shadow: 0px 0px 10px #6f6f6f7d;
  color: white;
}

.add-product-main {
  display: flex;
}

.add-product-div {
  margin-top: 20px;
  background-color: white;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  box-shadow: 0px 0px 40px #a9a9a9;
  padding: 20px;
}

.add-product-form {
  display: flex;
}

.product-value-div {
  display: flex;
  flex-direction: column;
}

.characteristics-add {
  margin-right: 10px;
  width: 382px;
}

.key-value {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.key-value-delete {
  border-radius: 5px;
  padding: 4px 6px;
  background-color: red;
  border: none;
  transition: all 0.5s;
}
.key-value-delete:hover {
  background-color: rgb(198, 28, 28);
}

.key-value-trash {
  width: 26px;
  filter: invert(100%);
}

.key-value input {
  width: 150px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #8b8b8b7d;
  border: none;
  margin-right: 5px;
  padding-left: 15px;
}

.description h2 {
  margin-block-start: 1.3rem;
}

.description textarea {
  resize: none;
}

.add-product-form select {
  width: 317px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #8b8b8b7d;
  border: none;
  margin: 15px;
  padding-left: 15px;
}

.product-name-form {
  width: 300px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 10px #8b8b8b7d;
  border: none;
  margin: 15px;
  padding-left: 15px;
}

.img-add::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #efefef;
  padding: 10px 20px;
  border-radius: 10px;
  color: #8d8d8d;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
  margin-left: 15px;
}

.add-product-form-button {
  margin: 15px;
  width: 317px;
  height: 40px;
  border: none;
  border-radius: 10px;
  background-color: #1d76cc;
  box-shadow: 0px 0px 10px #6f6f6f7d;
  color: white;
}

.all-products {
  width: 100%;
  padding-inline-start: 60px;
  margin-bottom: 10px;
  margin-right: 20px;
}

.all-products-li-name {
  border: 1px solid slategrey;
  background-color: white;
  height: 50px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 0px 30px;
}

.all-products-li {
  border: 1px solid #ededed;
  background-color: white;
  height: 77px;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  padding: 0px 30px;
}

.admin-productsName {
  width: 310px;
  padding: 10px;
}

.product-img-td {
  width: 150px;
}

.img-td {
  width: 150px;
}

.admin-products-name {
  width: 150px;
}

.admin-products-stock {
  width: 250px;
}

.action {
  width: 115px;
}

.edit-btn {
  margin-right: 16px;
  background-color: #1d76cc;
  border: none;
  border-radius: 10px;
  padding: 3px 6px;
  transition: all 0.5s;
}

.trash-btn {
  border-radius: 5px;
  padding: 4px 6px;
  background-color: red;
  border: none;
  transition: all 0.5s;
}
.edit-btn:hover {
  background-color: #1b5e9d;
}

.trash-btn:hover {
  background-color: rgb(198, 28, 28);
}

.trash {
  width: 26px;
  filter: invert(100%);
}

.edit {
  width: 26px;
  filter: invert(100%);
}

.product-img {
  width: 90px;
  margin: 5px;
}
